# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env

# Mac system files
.DS_Store

# VSCode settings (optional)
.vscode/

# Coverage directory used by tools like istanbul
coverage/

# Production build (optional if you use build step)
dist/
build/

# Session or temp files (optional)
*.swp
*.tmp

# IDEs
.idea/
*.sublime-workspace
*.sublime-project
